<div id="tabela-disco">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Blocos</th>
      </tr>
    </thead>
    <tbody>
      <% for i in 0...@disco.dados.size%>
        <tr style="border-right: 10px solid #<%= @disco.informacoes_disco.find_by(tipo: @disco.dados[i]).try(:cor_bloco) %>">
          <td><%= i %></td>
          <td><%= @disco.dados[i] if  !@disco.dados[i].eql?('-') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
