<div class="center">
  <div class="animated fadeInLeft">
    <div class="row">
      <div class="col-md-12 btn-tipo-alocacao">
        <%= link_to 'Alocação Contígua', alocacao_contigua_index_path(id: Disco.find_by(usuario: Usuario.find(session[:id_usuario]), tipo_alocacao: 1).id), class: 'btn btn-default' %>
      </div>
      <div class="col-md-12 btn-tipo-alocacao">
        <%= link_to 'Alocação Encadeada', alocacao_encadeada_index_path(id: Disco.find_by(usuario: Usuario.find(session[:id_usuario]), tipo_alocacao: 2).id), class: 'btn btn-default' %>
      </div>
      <div class="col-md-12 btn-tipo-alocacao">
        <%= link_to 'Alocação Encadeada usando Índice', discos_path, class: 'btn btn-default' %>
      </div>
    </div>
    <div class="row btn-voltar" align="rigth">
      <div class="col-md-3">
        <h1><%= link_to '<i class="glyphicon glyphicon-chevron-left"></i> Voltar'.html_safe, root_path, class: "btn btn-default" %></h1>
      </div>
    </div>
  </div>
</div>
