<section class="section" data-section-name="first">
  <div class="pagina-introducao">
    <h1>Sistemas de Arquivos</h1>
    <blockquote cite="http://">
      <p>Os arquivos são gerenciados pelo sistema operacional. O modo como eles são estruturados, nomeados, acessados, utilizados, protegidos e implementados constitui temas importantes no projeto de um sistema operacional. Como um todo, a parte do sistema operacional que lida com arquivos é conhecida como <strong>sistema de arquivos</strong>.</p>
      <div align="right">
        <cite>Andrew S. Tanenbaum & Albert S. Woodhull, 2000</cite>
      </div>
    </blockquote>
    <div align="center">
      <button id="alternador" type="button" name="button">
        <i class="glyphicon glyphicon-menu-down">&#xe259</i>
      </button>
    </div>
  </div>
</section>

<section class="section" data-section-name="second">
  <div class="pagina-introducao">
    <h1>Implementação de Arquivos</h1>
    <blockquote cite="http://">
      <p>A questão mais importante na implementação de armazenamento de arquivos talvez seja a manutenção do controle de quais blocos de disco estão relacionados a quais arquivos. São usados vários métodos em diferentes sistemas operacionais.</p>
      <div align="right">
        <cite>Andrew S. Tanenbaum, 2004</cite>
      </div>
    </blockquote>
  </div>
</section>

<section class="section" data-section-name="third">
  <div class="pagina-introducao">
    <h3 align="center">Aprenda como funciona o armazenamento de arquivos !</h3>
  </div>
  <div class="center">
    <div class="">
      <% if alert.present? %>
        <div class="alert alert-info" role="alert" align="center"><b><%= alert %></b></div>
      <% end %>
      <div class="row">
        <div class="col-md-12 btn-tipo-alocacao">
          <%= link_to 'Alocação Contígua', alocacao_contigua_index_path(id: Disco.find_by(usuario: Usuario.find(session[:id_usuario]), tipo_alocacao: Disco::ALOCACAO_CONTIGUA).id), class: 'btn btn-default' %>
        </div>
        <div class="col-md-12 btn-tipo-alocacao">
          <%= link_to 'Alocação Encadeada', alocacao_encadeada_index_path(id: Disco.find_by(usuario: Usuario.find(session[:id_usuario]), tipo_alocacao: Disco::ALOCACAO_ENCADEADA).id), class: 'btn btn-default' %>
        </div>
        <div class="col-md-12 btn-tipo-alocacao">
          <%= link_to 'Alocação Indexada', alocacao_indexada_index_path(id: Disco.find_by(usuario: Usuario.find(session[:id_usuario]), tipo_alocacao: Disco::ALOCACAO_INDEXADA).id), class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
</section>
