<%- model_class = Usuario -%>
<div class="center">
  <% if alert.present? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h6 align="center"><%= alert %></h6>
      </div>
    </div>
  <% end %>
  <%= render :partial => 'form' %>
</div>
