.pagina-introducao {
  padding: 5%;

  h3 {
    font-family: 'Cormorant Garamond';
    color: #fff;
  }

  h1 {
      color: #ffffff;
      font-family: 'Cormorant Garamond';
      font-weight: bold;
      border-bottom: 3px solid #ed5565;
      font-size: 40px;
      line-height: 65px;
      letter-spacing: 15px;
      margin-bottom: 57px;
      text-align: center;
      text-indent: 24px;
      text-transform: uppercase;
  }

  p {
    color: #ffffff;
    font-family: 'Cormorant Garamond';
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
    margin: 0 auto 48px;
  }
}

.alternador {
  background: #3F5D7D;
  border: none;

  i {
    color: #ffffff;
     font-size: 50px;
  }
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.alternador {
  animation: blink 1.5s step-start 0s infinite;
  -webkit-animation: blink 1.5s step-start 0s infinite;
}



#button-artigo
{
  position: fixed;
  top: 30%;
  right: 0px;
  width: 40px;

  h5 {
    color: #fff;
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);

    a {
      padding: 10px;
      border-radius: 10px;
      font-size: 30px;
      font-family: 'Cormorant Garamond';
      letter-spacing: 5px;
      font-weight: bold;
      background-color: #ed5565;
      color: #fff;
      text-decoration: none;
    }

    // a:hover {
    //   background-color:#fff;
    //   color: #ed5565;
    // }
  }
}
